@using iAccess.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> @ViewBag.Title - iAccess </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/styles_bundle/")
    @Styles.Render("~/modernizr/")

    @Html.Partial("_header")
</head>

<body class="hold-transition skin-purple sidebar-mini sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">
        @{
            Dev my = new Dev();
            string myNTID = PageExtensionMethods.getMyWindowsID().ToString();
            myNTID = "gsing017";
            ViewData.Model = my.getEmployeeData(myNTID).FirstOrDefault();
            getEmployeeData_Result Model = ViewData.Model;
        }
        @Html.Partial("_head_menu", Model)
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        @Html.Partial("_left_menu", Model)
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <!-- Content Header (Page header) -->
                @Html.Partial("_page_heading", Model)
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default body -->
                @RenderBody()
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_footer")
        <!-- Control Sidebar -->
        @Html.Partial("_control_sidebar", Model)
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/scripts_bundle/")
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree();
        });
    </script>
</body>
</html>


