<!DOCTYPE html5 lang="en">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>
        @ViewBag.Title - iAccess
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- bootstrap datepicker -->
    <link href="AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="Sitel/cdn/datatables/1.10.19/jquery.dataTables.min.css" />
    <!-- Select2 -->
    <link href="AdminLTE/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/ folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="AdminLTE/dist/css/skins/_all-skins.min.css">
    <!-- bootstrap datepicker -->
    <link href="AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="AdminLTE/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!----------Toastr----------------->
    <link href="Sitel/CDN/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE/dist/css/AdminLTE.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link href="Sitel/fonts/css.css" rel="stylesheet" />
    <style type="text/css">
        .wrapper {
            /*min-height:100%;*/
            overflow: hidden;
        }

        .content-wrapper {
            /*min-height:100%;*/
            /*height: auto;*/
            overflow: hidden; /*hidden*/
            padding: 0.5%;
        }
        /************************************************************************/
        /* PSEUDO-TOGGLE BUTTON MADE OF ASP.NET CHECKBOX AND CSS3*/
        div.divToggleButton input[type=checkbox] {
            display: none;
            white-space: nowrap;
        }

        /*.datepicker{z-index:10000 !important}*/

        div.divToggleButton label {
            display: block;
            float: left;
            cursor: pointer;
        }

        /* set the size of the pseudo-toggle button control */
        div.divToggleButton input[type=checkbox]:checked + label::before,
        div.divToggleButton input[type=checkbox]:not(:checked) + label::before,
        div.divToggleButton input[type=checkbox] + label {
            width: 40pt;
            height: 40pt;
            line-height: 40pt;
        }

        /* additional styling: rounded border, gradient */
        div.divToggleButton input[type=checkbox] + label {
            vertical-align: middle;
            text-align: center;
            font-size: 16pt;
            font-family: Arial, Calibri;
            border: 1px solid #bdbdbd;
            border-radius: 5px;
            background: #f0f0f0;
            /* gradient style (optional)*/
            background-image: -moz-linear-gradient(top, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
            background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), color-stop(0.5, #f9f9f9), color-stop(0.5, #e5e5e5 ), to(#fdfdfd));
            background-image: linear-gradient(to bottom, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
        }

        /* content to display and style pertinent to unchecked state*/
        div.divToggleButton input[type=checkbox]:not(:checked) + label::before {
            content: "Transfer In";
            color: #303030;
            opacity: 0.6;
        }

        /* content to display and style pertinent to checked state*/
        div.divToggleButton input[type=checkbox]:checked + label::before {
            content: "Transfer Out";
            color: #000090;
            font-weight: bold;
        }
        /************************************************************************/

        /**Paras Modified 31-03-2017 */
        /*** Legacy Headers Styled as per current design ***/
        .content-header {
            color: #3c8dbc;
        }

        .dropdown {
            margin-right: 10px;
        }

        .content-header > .breadcrumb {
            float: right;
            font-size: 12px;
            padding: 5px;
            padding-right: 1%;
        }

        .pageheader {
            border-bottom: 1px solid #ddd;
            position: relative;
        }

        .pageicon {
            font-size: 65px;
            /*color: #0866c6;*/
            display: inline-block;
            float: left;
            text-align: center;
        }

        .pagetitle {
            margin-left: 6%;
            padding-top: 5px;
        }

            .pagetitle h1 {
                font-size: 30px;
                margin-top: 0px;
                margin-bottom: 5px;
                margin-left: -2px;
                /*color: #0866c6;*/
            }

            .pagetitle h5 {
                text-transform: uppercase;
                font-size: 12px;
                color: #999;
                margin-top: 2px;
                margin-bottom: 1px;
            }

        /*** User Panel STYLES ***/
        .sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
            overflow: hidden; /*visible*/
            /*min-height:100%;*/
            /*height: auto;*/
        }
        /*** FOOTER STYLES ***/
        .main-footer {
            font-size: 12px;
            color: #666;
            margin: 0px;
            padding: 0px 15px;
            padding-right: 5%;
            border-top: 1px solid #ddd;
            overflow: auto;
            clear: both;
            position: fixed;
            bottom: 0px;
            z-index: 810;
            background: white;
            width: 100%;
        }

            .main-footer .footer-left {
                float: left;
            }

            .main-footer .footer-right {
                float: right;
                text-align: right;
            }
        /*** Sidebar Style ***/
        .uniform-select {
            width: 100%;
        }
        /**Paras Modified Ends */
        table {
            border: none;
            font-family: 'Roboto';
            font-size: small;
        }

        thead {
            border: none;
        }

        th {
            border: none;
        }

        tr {
            border: none;
        }

        tbody {
            border: none;
        }

        td {
            border: none;
        }

        table.DataTable tbody tr.myeven {
            background-color: #ccd1d1;
        }

        table.DataTable tbody tr.myodd {
            background-color: #ffffff;
        }

        .content-wrapper {
            /*min-height:100%;*/
            /*height: auto;*/
            overflow: hidden; /*hidden*/
        }

        .PageSpecificDataTable > thead {
            font-weight: 900;
            color: #ffffff;
            background: #3c8dbc;
        }

            .PageSpecificDataTable > thead > tr > th .PageSpecificDataTable > tbody > tr > td {
                width: 20%;
            }

        .DataTables_filter > label,
        .DataTables_length > label,
        .dt-buttons {
            font-weight: normal;
            font-size: 12px;
        }
    </style>
    <!--Place any head based scripts used by the rest of the application here.-->
    @RenderSection("headPlaceHolder", false)
</head>
<body class="hold-transition skin-blue sidebar-mini  sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper" style="height: auto">
        <form id="form1" runat="server">
            <header class="main-header">
                <!-- Logo -->
                <a href="Index.aspx" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>IA</b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">i<b>A</b>ccess</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="navbar-custom-menu">
                        <asp:ContentPlaceHolder ID="headmenu" runat="server">

                            <ul class="nav navbar-nav">
                                <!-- Tasks: style can be found in dropdown.less -->
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <asp:Image ID="smallUserImage" runat="server" CssClass="user-image" AlternateText="User Image" />
                                        <asp:Label ID="lblName" CssClass="hidden-xs" runat="server"></asp:Label>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <asp:Image ID="mediumUserImage" runat="server" CssClass="img-circle" AlternateText="User Image" />
                                            <p>
                                                <asp:Literal ID="lblNameDesignation" runat="server"></asp:Literal>
                                                <small>
                                                    Joined :
                                                    <asp:Label ID="lblDOJ" runat="server"></asp:Label>
                                                </small>
                                            </p>
                                        </li>
                                        <!-- Menu Body -->
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <%--<div class="pull-left">
                                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                                            </div>--%>
                                            <div>
                                                <%-- class="pull-right"--%>
                                                <a href="#" class="btn btn-default btn-flat form-control" id="signout">Sign out</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Control Sidebar Toggle Button -->
                                <li>
                                    <%--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>--%>
                                </li>
                            </ul>
                        </asp:ContentPlaceHolder>

                    </div>
                </nav>
            </header>
            <!-- =============================================== -->
            <!-- Left side column. contains the sidebar -->
            @RenderSection("leftmenu", false)
            <!-- =============================================== -->
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <!--Place user orientation here.-->
                    @RenderSection("pageheader", false)                    
                </section>
                <!-- Main content -->
                <section class="content">
                    <!-- Default body -->
                    @RenderBody()
                    <!-- /.box -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                @RenderSection("footer", false)
            </footer>
            <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
            <!-- jQuery 3 -->
            <script src="AdminLTE/bower_components/jquery/dist/jquery.js"></script>
            <!-- Bootstrap 3.3.7 -->
            <script src="AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- DataTables -->
            <script src="Sitel/cdn/datatables/1.10.19/jquery.dataTables.min.js"></script>
            <link href="Sitel/cdn/datatables/buttons/1.3.1/css/buttons.dataTables.min.css" rel="stylesheet" />
            <script src="Sitel/cdn/datatables/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
            <script src="Sitel/cdn/datatables/buttons/1.3.1/js/buttons.html5.min.js"></script>
            <script type="text/javascript" src="Sitel/jszip.js"></script>
            <script type="text/javascript" src="Sitel/CDN/pdfmake/pdfmake.min.js"></script>
            <script type="text/javascript" src="Sitel/CDN/pdfmake/vfs_fonts.js"></script>

            <!-- date-range-picker -->
            <script src="AdminLTE/bower_components/moment/min/moment.min.js"></script>
            <script src="AdminLTE/bower_components/select2/dist/js/select2.full.js"></script>
            <script src="AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
            <script src="AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
            <!-- SlimScroll -->
            <script src="AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
            <!-- FastClick -->
            <script src="AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
            <!-- Toastr -->
            <script src="Sitel/cdn/toastr/toastr.min.js"></script>
            <!-- AdminLTE App -->
            <script src="AdminLTE/dist/js/adminlte.min.js"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="AdminLTE/dist/js/demo.js"></script>
            <script>
                //$(function () {
                //    $('.sidebar-menu').tree();
                //    $(".select2").select2();
                //});
                //$("#signout").click(function () {
                //    window.close();
                //});
            </script>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </form>
    </div>
</body>
</html>


